@model Borrowing
@{
}
<div class="mb-0 button d-flex justify-content-end">
            <a role="button" class="btn btn-danger d-flex justify-content-end" href="/Home/Index">İptal</a>
        </div>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Kitap Ödünç Alma Formu</h2>
      <form asp-controller="Home" asp-action="CheckOut" asp-route-id="@ViewBag.Id" method="post">
        
        <div class="form-group">
          <label asp-for="NameSurname">İsim</label>
          <input asp-for="NameSurname" type="text" class="form-control" id="name" name="nameSurname" placeholder="Adınız Soyadınız">
        </div>
        <div class="form-group">
          <label asp-for="PhoneNumber" >Telefon Numarası</label>
          <input asp-for="PhoneNumber" type="tel" pattern="0\(\d{3}\) \d{3}-\d{4}" name="phoneNumber" class="form-control" id="phone" placeholder="Telefon Numaranız" >
        </div>
        <div class="form-group">
          <label asp-for="TCKN">TC Kimlik Numarası</label>
          <input asp-for="TCKN" type="tel" pattern='^[1-9]{1}[0-9]{9}[02468]{1}$' name="tckn" class="form-control" id="tckn" placeholder="TC Kimlik Numaranız">
        </div>
        <div class="form-group">
          <label for="date">Alma Tarihi</label>
          <input type="date" class="form-control" id="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly>
        </div>
        <div class="form-group">
          <label for="returnDate">Geri Getirme Tarihi</label>
          <input type="date" class="form-control" id="returnDate" value="@DateTime.Today.AddDays(15).ToString("yyyy-MM-dd")" readonly>
          <small class="form-text text-muted">*Geri getirme tarihi, ödünç alma tarihinden 15 gün sonra olacaktır.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="borrow">Ödünç Al</button>
        
      </form>
    </div>
  </div>
</div>


@section scripts{
    <script>
        $(document).ready(function(){
            $("#phone").mask("0(599) 999-9999?", { autoclear: false });
            
            $("form").validate({
                errorClass: "text-danger",
                rules: {
                    "nameSurname": {
                        required: true,
                       },
                    "phoneNumber": {
                        required: true,

                    },
                    "tckn": {
                        required: true,
                        digits: true, 
                        minlength: 11, 
                        maxlength: 11, 
                        tcno: true 
                    }
                },
                 messages: {
                    "nameSurname": {
                         required: "Lütfen isim ve soyisim bilgisi girin",
                    },
                    "phoneNumber": {
                        required: "Lütfen telefon numaranızı girin",
       
                    },
                    "tckn":{
                         required: "Lütfen TC Kimlik numaranızı girin",
                         minlength: "TC Kimlik numaranız 11 haneli olmalı",
                        maxlength: "TC Kimlik numaranız 11 haneli olmalı",
                        digits: "Lütfen sadece sayısal karakterler girin",
                        tcno: "Lütfen geçerli bir TC Kimlik numarası girin"
                    }
                }
            });
            $.validator.addMethod("tcno", function(value, element) {
    
                var firstDigit = parseInt(value.charAt(0));
                var secondDigit = parseInt(value.charAt(1));
                var thirdDigit = parseInt(value.charAt(2));
                var fourthDigit = parseInt(value.charAt(3));
                var fifthDigit = parseInt(value.charAt(4));
                var sixthDigit = parseInt(value.charAt(5));
                var seventhDigit = parseInt(value.charAt(6));
                var eighthDigit = parseInt(value.charAt(7));
                var ninthDigit = parseInt(value.charAt(8));
                var tenthDigit = parseInt(value.charAt(9));
                var eleventhDigit = parseInt(value.charAt(10));
                var totalSum = (firstDigit + secondDigit + thirdDigit + fourthDigit + fifthDigit + sixthDigit + seventhDigit + eighthDigit + ninthDigit);
                var tenthDigitResult = totalSum % 10;
                if (((tenthDigitResult == 0 || tenthDigitResult == 1) && tenthDigit == 0) || (tenthDigit == (10 - tenthDigitResult))) {
                    var totalSum2 = (firstDigit + secondDigit + thirdDigit + fourthDigit + fifthDigit + sixthDigit + seventhDigit + eighthDigit + ninthDigit + tenthDigit);
                    var eleventhDigitResult = totalSum2 % 10;
                    if (eleventhDigit == eleventhDigitResult) {
                        return true;
                    }
                }
                return false;
                }, "Lütfen geçerli bir TC Kimlik numarası girin");
        
                });

    </script>

}